{% extends "registration/base.html" %}

{% block content %}
<div class="container">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} <p class="bg-warning {{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        {% endif %}
    </ul>

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />

<a style="margin-left:114px;">
</p>


</form>

<a href="{% url 'reset_password' %}"> Forgot password? </a>
{% endblock %}
    </div>