{% extends "registration/base.html" %}
{% block content %}
{# test template #}
    <!-- code for displaying success or error message in template -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} <p class="bg-warning {{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        {% endif %}
    </ul>

    <!-- Form rendering code for template -->
    <form action="" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}