{% extends "physio_core/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h3>Overview</h3>

<p>
    PhysioSpace enables the utilization of massive gene expression data sets from heterogeneous sources to assess the type and quality lab data derived from cell cultures, tissues or plants.
    PhysioSpace integrates and transforms heterogeneous public gene expression data into a set of physiology-specific patterns, the Physiology Space. Then a mapping tool allows quantitative matching of the individual experimental data to the PhysioSpace linking lab and the world of massive publicly available data sets.
</p>
<p>
For more information please check the original <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0077627">PhysioSpace study</a> (M. Lenz et. al., PLoS ONE(2013)).
</p>
<h3>Implementation Details</h3>
<p>
The PlantPhysioSpace implementation is specifically tailored for the analysis of plant gene expression datasets. Arabidopsis thaliana experiments were utilized as the core reference for this version, given the wealth of publicly available data for this model crop. But cross-conversion between Oryza sativa (rice), Glycine max (Soybean) and Triticum aestivum (wheat) to A. thaliana is also implemented (so experiments using these crops can be analyzed as well).
</p>
<p>
The initial version of this tool was implemented in R by <a href=https://www.linkedin.com/in/danevarez>David Nevarez</a> (Master Thesis). Conversion into a Web tool using the Python Web framework Django was a collaborative effort between the <a href=http://www.combine.rwth-aachen.de>Joint Research Center for Computational Biomedicine</a> and <a href=http://www.fz-juelich.de>Forschungszentrum Juelich</a>.
</p>
<h3>Funding</h3>
<p>
This work was partially funded by Bayer Crop Science.
</p>

{% endblock %}