<!DOCTYPE html>
{% load static from staticfiles %}
{% autoescape off %}
<head lang="en">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.25/dc.css" rel="stylesheet">
    <link rel="shortcut icon"  href="{% static "Logo3small.png"%}" />
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

</head>



<body>


<div class="container">

        {{ user }}
      {% if user.is_anonymous %}
      <a href="{% url 'login' %}"><strong>login</strong></a>
      {% else %}
      <a href="{% url 'logout' %}?next={{ request.path }}">logout</a>
      {% endif %}
   
    <hr>

</div>


<div id="navbar">
    {% block navbar %}
       <!--<ul>-->
            <div class="container">
                <!--<div class="header clearfix">-->
                    <nav>

        <a href="#" class="pull-left"><img src="{% static "Logo3small.png"%}"> </a><br><br>
                        <ul class = 'nav nav-pills pull-right '>

                            <li class="{% ifequal request.path '/'%} active {% endifequal%}">
                                <a href="{% url "index" %}">Home</a>
                            </li>
                            <li class="{% ifequal request.path '/tutorial/'%} active {% endifequal%}">
                                <a href="{% url "tutorial" %}">Tutorial</a>
                            </li>
                            <li class="{% ifequal request.path '/submit_txt'%} active {% endifequal%}">
                                <a href="{% url "submit_txt" %}">Submit List of Genes</a>
                            </li>
                            <li class="{% ifequal request.path '/submit_csv'%} active {% endifequal%}">
                                <a href="{% url "submit_csv" %}">Submit csv</a>
                            </li>
                            <li class="{% ifequal request.path '/about'%} active {% endifequal%}">
                                <a href="{% url "about" %}">About</a>
                            </li>
                            <li class="{% ifequal request.path '/contact'%} active {% endifequal%}">
                                <a href="{% url "contact" %}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <!--<div>-->
                        <!--<h2>Plant PhysioSpace</h2>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        <!--</ul>-->
    {% endblock %}
</div>
<div id="content" class="container">

<div>
    {% block content %}</div>{% endblock %}
</div>

</body>
</html>
{% endautoescape %}