{% extends "physio_core/base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h3>Contact</h3>
<hr>
<p>
<a href="mailto:j.mass@fz-juelich.de">Janina Mass</a>
</p>
<p>
<a href="mailto:schuldt@aices.rwth-aachen.de">Bernhard Schuldt</a>
</p>
<p>
<a href="mailto:esfahani@aices.rwth-aachen.de">Ali Esfahani</a>
</p>

{% endblock %}