
{% extends "physio_core/base.html" %}
{% block title %}Submit{% endblock %}

{% block content %}
    <h3>Paste your csv contents:</h3>
    <p> (this could be a file field)</p>
    <p class="form-group">
    <form action="submit" method="post">
        {% csrf_token %}
        {{ form.csv_text }}
        <p> <button type="submit" class="btn btn-success">Submit</button></p>
    </form>

{% endblock %}

