{% extends "physio_core/base.html" %}
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
{% block title %}Detail{% endblock %}
{% block content %}
     <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
    {{ bokeh_boilerplate }}
{% if result %}
    <h3>{{result.id}} </h3>
    <a href={% url "heatmap" result.id %}> Sortable Heatmap</a><br>
    <a href={% url "download_csv" result.id %}> Download csv</a>

    <p>{{result.data}}</p>
    {{ result.divdata }}
{#     <img src="{{ MEDIA_URL }}media/tmp/{{result.id}}.png"/> <br>#}
{#    <img src="{{ MEDIA_URL }}tmp/{{result.id}}.png"/><br>#}
{#        <img src="{{ MEDIA_URL }}media/tmp/png.png"/>#}
        {%else%}
    <p>No results available.</p>
{% endif %}
    {% if bokehscript %}
    {{ bokehscript }}
    {% else %}

    {% endif %}
    {% if bokediv %}
    {{ bokediv }}
    {% else %}

    {% endif %}
{% endblock %}