{% extends "physio_core/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<style>
</style>
<h3>An error occurred...</h3>

 {% if messages %}
<p>
<ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }} bg-danger"{% endif %} alert>{{ message }}</li>
        {% endfor %}
    </ul>
</p>
{% endif %}



{% endblock %}