{% extends "physio_core/base_d3.html" %}
{% load static from staticfiles %}
{% block header %}

{% endblock %}
{% block title %}Detail{% endblock %}
{% block content %}
<style>
.tab-pane { border:none }
.lb:hover {
  fill: blue;
  font-weight: bold;
  cursor: hand;
  cursor: pointer;
}
</style>

<div id="content">
    {% if result %}
        <h3>{{result.id}} </h3>
        <a href={% url "detail" result.id %}> Bokeh Heatmap</a><br>
        <a href={% url "download_csv" result.id %}> Download csv </a><br>


    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#hm" data-toggle="tab">Heatmap</a></li>
        <li><a href="#rows" data-toggle="tab">Filter rows </a></li>

    </ul>
</div>
    <div id="primary-tab-content" class="tab-content">
        <div class="tab-pane active" id="hm">
            <h3>{{result.id}}</h3>
            <button class="btn btn-primary" onclick="hm_redrawButtonClick()">redraw heatmap</button><br>
            <div id="heatmap"></div>
        </div>

        <div class="tab-pane" id="rows">
            <br>
            <ul id="rowtabs" class="nav nav-tabs" data-tabs="rowtabs">
                <!--<li class="active"><a href="#rbycategory" data-toggle="tab">By category</a></li>-->
                <!--<li><a href="#rbydescription" data-toggle="tab">By description</a></li>-->
                <li class="active"><a href="#rbyaccession" data-toggle="tab">By ID </a></li>
            </ul>
            <div id="rowtab-content" class="tab-content">
                <div class="tab-pane" id="rbycategory">

                    <div id="rb-category"></div>
                 </div>
                <div class="tab-pane" id="rbydescription">

                    <div id="rb-description"></div>
                 </div>
                <div class="tab-pane active" id="rbyaccession" >
                    <div id="rb-accession"></div>
                </div>


     </div>

</div>


    </div>
        <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>
    <script src="{% static "physio_core/js/heatmap.js" %}"></script>
    <script>
        var hm_rowButtonClick;
        var hm_colButtonClick;
        var hm_redrawButtonClick;
        drawHeatmap('{% url "resultjson" result.id%}');
    </script>

{%else%}
    <p>No results available.</p>
{% endif %}



{% endblock %}
