
{% extends "physio_core/base.html" %}
{% block title %}PhysioSpace{% endblock %}

{% block content %}
    {% if not user.is_anonymous %}
            {% if result_list %}
                <ul>
                    {% for result in result_list %}
                        <li><a href={% url "result" %}/{{ result.id }}/>{{ result.id }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No results available.</p>
            {% endif %}
    {% else %}
    <div class="help-block"></div>
        <!--<div class="container">-->
            <div class="jumbotron">
                <h2>Plant PhysioSpace</h2>
                <p> PhysioSpace enables the utilization of massive gene expression data
                sets from heterogeneous sources to assess the type and quality lab data
                derived from cell cultures, tissues or plants.
                </p>
                <p> To start click on <a href="{% url "submit_txt" %}">Submit List of Genes Tab</a>
                if you have a list of Up/Down regulated genes from your experiment, Or if you have a table of genes expression
                data from different samples, go to <a href="{% url "submit_csv" %}">Submit csv</a>.
                </p>
            </div>
        <!--</div>-->
    {% endif %}


{% endblock %}

