{% extends "physio_core/base_d3.html" %}
{% load static from staticfiles %}
{% block header %}
<style xmlns="http://www.w3.org/1999/html">
#cb{
    width:530px;
    height:210px;
    border: 13px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

</style>

{% endblock %}
{% block title %}Detail{% endblock %}
{% block content %}


    {% if result %}
        <h3> {{ result.id }} </h3>
    {% endif %}
    {#    <div class="container-fluid">#}
    <button class="btn btn-primary" onclick="hm_redrawButtonClick()">redraw heatmap</button>
    <div class="row">
        <div id="heatmap" class="col-md-9"></div>
        <div class="col-md-3">
            <a href="#cb">Filter rows</a>
            <a href="#rb">Filter columns</a>
        </div>
    </div>
    <div class="row">
        <div id="cb" class="col-md-5">Columns:<br>
        </div>
         <div class="col-md-1"> <a href="#heatmap">Back to top</a> </div>
        <div id="rb" class="col-md-5">Rows:<br></div>

    </div>
    <div>
    <a href="#heatmap">Back to top</a></div>
    </div>


    {#    </div>#}
    <script src="{% static "physio_core/js/heatmap.js" %}"></script>
    <script>
        var hm_rowButtonClick;
        var hm_colButtonClick;
        var hm_redrawButtonClick;
        drawHeatmap('{% url "resultjson" result.id%}');
    </script>





{% endblock %}
