{% extends "physio_core/base.html" %}

{% block content %}
{% if result_list %}
    <ul>
    {% for result in result_list %}
        <li><a href={% url "result" %}/{{ result.id }}/>{{ result.id }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No results available.</p>
{% endif %}
{% endblock %}
