
{% extends "physio_core/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Submit{% endblock %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-sm-6">
        <h3>Submit Matrix (csv) </h3>
        <hr>

        <p>
            <form method="post" action="" enctype="multipart/form-data"  > {% csrf_token%}

            {{form|crispy}}
            <button class="btn btn-primary">Submit</button>
            </form>
        </p>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
        <div class="help-block">
            <h4>Info</h4>
            <p class="text-justify">
                In this page you can analyze your experiment results by providing
                <b class="text-danger"> relative</b> genes expression data in CSV format.
            </p>
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#MoreText">More...</button>
            <div id="MoreText" class="collapse">
            <p class="text-justify">
                The provided CSV file is expected to have genes as rows and samples as columns
                (You need to have more than one sample, if you have only one you can analyze your
                data by calculating Up/Down regulated genes and submit them as a list of genes in
                <a href="{% url "submit_txt" %}">Submit List of Genes</a>). Also the CSV file is
                expected to have gene IDs (only Affymetrix probe IDs of Arabidopsis thaliana,
                Oryza sativa, Glycine max and Triticum aestivum are Supported for now)
                as row names and samples names as column names.
            </p>
            <p class="text-justify">
                Remember that values in the CSV file are expected to be relative, meaning that
                each gene expression value is the difference between two condition, usually
                Case-Under-Study Vs. Control. So <mark>you need to calculate the relative gene expressions
                yourself</mark>.
            </p>
            <p class="text-justify">
                After choosing a CSV file using the button <b>Choose File</b>, a colorscheme needs to be chosen; This colorscheme will
                be used for the results' heatmap.
            </p>
            <p class="text-justify">
                After providing CSV file and choosing colorscheme, click <mark>Submit</mark>
                button to upload the file and run PhysioSpace on your experiment data.
            </p>
            </div>
        </div>
    </div>
</div>

{% if form.errors %}
    <!--{% for field in form %}-->
        <!--{% for error in field.errors %}-->
            <!--<div class="alert alert-error">-->
                <!--<strong>{{ error|escape }}</strong>-->
            <!--</div>-->
        <!--{% endfor %}-->
    <!--{% endfor %}-->
    <!--{% for error in form.non_field_errors %}-->
        <!--<div class="alert alert-error">-->
            <!--<strong>{{ error|escape }}</strong>-->
        <!--</div>-->
    <!--{% endfor %}-->
{% endif %}

    <!--{% if message %}-->

    <!--<p class="bg-warning">{{message}}</p>-->
    <!--{% endif %}-->
    <hr>
{% load staticfiles %}


</div>

{% endblock %}