
{% extends "physio_core/base.html" %}
{% block title %}Submit{% endblock %}

{% block content %}
<div class="container">

{% load crispy_forms_tags %}



    <div class="help-block"></div>
<div class="row">
    <div class="col-sm-6">
        {% crispy form %}
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
        <div class="help-block">
            <h4>Info</h4>
            <p class="text-justify">
                In this page you can process your experiment results by providing <b class="text-danger">ordered</b> up-/down-
                regulated genes in the experiment which <b class="text-danger">you calculated
                yourself</b>. Provided gene IDs are expected to be Affymetrix probe IDs
                (Supported plants are <i>Arabidopsis thaliana</i>, <i> Oryza sativa</i>, <i>Glycine max </i> and
                <i>Triticum aestivum</i>.)
            </p>
            <p class="text-justify">
                Up-regulated genes are to be copied to <strong>Up*</strong>
                field, separated by comma. The same goes for down-regulated genes and the field
                <strong>Down*</strong>. Also a colorscheme needs to be chosen; This colorscheme will
                be used for the results' heatmap.
            </p>
            <p class="text-justify">
                After providing genes and choosing colorscheme, click <mark>Submit</mark>
                button to run PhysioSpace on your experiment data.
            </p>
        </div>
    </div>
</div>
    {% if message %}
    <p class="bg-warning">{{message}}</p>
    {% endif %}
    <hr>
{% load staticfiles %}


</div>

{% endblock %}