{% extends "physio_core/base.html" %}
{% load static from staticfiles %}
{% block title %}Tutorial{% endblock %}
{% block content %}
<h3>Tutorial</h3>
<hr>
<p>
    Download the Plant PhysioSpace Tutorial here:<br>
    <a href="{% static "Tutorial/PlantPhysioSpaceTutorial.pdf" %}">Download Tutorial (pdf)</a>
</p>

{% endblock %}