<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
        <meta http-equiv="refresh" content="2";url="#">
    <title></title>
</head>
<body>
{% if csv_filename %}
{{csv_filename }}
 <p>computing... ...</p>
{% else %}
    <p>computing...</p>
{% endif %}
</body>
</html>