<!DOCTYPE html>
{% autoescape off %}
<head lang="en">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/flatly/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/flatly/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- bokeh -->
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.8.2.min.css"
    rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.8.2.min.js"></script>

    <meta charset="UTF-8">
    {% block bla %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

</head>

<body>

<div class="container">
<div id="navbar">
    {% block navbar %}
        <ul>
            <div class="container">
                <div class="header clearfix">
                    <nav>
                        <ul class = 'nav nav-pills pull-right'>
                            <li class="{% ifequal request.path '/'%} active {% endifequal%}">
                                <a href="{% url "index" %}">Home</a>
                            </li>
                            <li class="{% ifequal request.path '/submit'%} active {% endifequal%}">
                                <a href="{% url "submit" %}">Run</a>
                            </li>
                            <li class="{% ifequal request.path '/about'%} active {% endifequal%}">
                                <a href="{% url "about" %}">About</a>
                            </li>
                            <li class="{% ifequal request.path '/contact'%} active {% endifequal%}">
                                <a href="{% url "contact" %}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <h3 class="text-muted">Physiospace</h3>
                </div>
            </div>
        </ul>
    {% endblock %}
</div>
<div id="content">

<div>
    {% block content %}</div>{% endblock %}
</div>
</div>
</body>
</html>
{% endautoescape %}